In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("last_data.csv")

In [3]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [4]:
X = data.drop(['region','charges'], axis = 1)

In [5]:
y = data['charges']

In [6]:
X.head()

   age  sex     bmi  children  smoker
0   19    0  27.900         0       1
1   18    1  33.770         1       0
2   28    1  33.000         3       0
3   33    1  22.705         0       0
4   32    1  28.880         0       0

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [8]:
model = RandomForestRegressor(n_estimators=700,max_depth=4).fit(X_train, y_train)

In [9]:
model_confidence = model.score(X_test, y_test)

In [10]:
print(model_confidence)

0.8974326216824438

In [11]:
#pd.to_pickle(model,r'C:\Users\monster\Desktop\eng project\jupyter\model.pickle')

In [12]:
model = pd.read_pickle(r'C:\Users\monster\Desktop\eng project\jupyter\model.pickle')

In [13]:
age = int(input("Enter age: "))
sex = int(input("Enter sex: "))
bmi = float(input("Enter bmi: "))
children = int(input("Enter children: "))
smoker = int(input("Enter smoker: "))

Enter age: 19
Enter sex: 0
Enter bmi: 27.9
Enter children: 0
Enter smoker: 1

In [14]:
result = model.predict([[age,sex,bmi,children,smoker]])
print(result)

[17973.40846413]