In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
data = pd.read_csv("last_data.csv")

In [3]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [4]:
X = data.drop(['charges'], axis = 1)

In [5]:
y = data['charges']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [7]:
model = RandomForestRegressor(n_estimators=700,max_depth=4).fit(X_train, y_train)

In [8]:
model_confidence = model.score(X_test, y_test)

In [9]:
print(model.score(X_test,y_test))

0.8977329673255653